
footer#footer
    div.promo-list
        div.rowflex
            div.col
                include ../components/collaborate
            div.col
                include ../components/Commission
            div.col
                include ../components/connect
    include ./footnote
