
div.footnote
    //- div.footnote-nav
            ul.list-inline
                each item in navigations.footer
                    li
                        a(href=item.path) #{item.label}

    div.footnote-stamp
        | &copy; Copyright 2017 Juliano Creative
