
footer#footer
    div.promo-list
        div.row
            div.col-xs-6.col-sm-4
                include ../components/collaborate
            div.col-xs-6.col-sm-4
                include ../components/Commission
            div.col-xs-12.col-sm-4
                include ../components/connect
    include ./footnote
