
div#nav-mobile(aria-hidden="true")
    ul#nav-mobile-nav
        each page in navigations.main
            li
                a(href=page.path) #{page.label}

    div#nav-mobile-promos
        div.row
            div.col-xs-6
                include ../components/collaborate
            div.col-xs-6
                include ../components/commission
        include ../components/connect
