
div#nav-mobile(aria-hidden="true")
    ul#nav-mobile-nav.list-steps
        each page in navigations.main
            li
                a(href=page.path) #{page.label}

    div#nav-mobile-promos
        include ../components/collaborate
        include ../components/commission
        include ../components/connect
