
div#nav-mobile(aria-hidden="true")
    ul#nav-mobile-nav.list-nav
        each page in navigations.main
            li
                a(href=page.path) #{page.label}

    div#nav-mobile-promos
        div.clearfix
            div.col
                include ../components/collaborate
            div.col
                include ../components/commission
        div.clearfix
            div.col
                include ../components/connect
