
section.promo
    h3.promo-title
        | Collaborate
    p.promo-body
        | I work with existing brands to create eye catching, individualistic styles. Let's get creating.
    div.promo-body
        a.btn.btn-inverse(href="/contact")
            | Work with Me
