
section.promo
    h3.promo-title
        | Collaborate
    p.promo-body
        | Fresh ideas? Let's work together to create the next big collection, capsule, or one-of-a-kind release.
    div.promo-body
        a.btn.btn-inverse(href="/contact")
            | Start Project
