
section.promo
    h3.promo-title
        | Collaborate
    p.promo-body
        | Jargon and other bullshit placeholder text for now and all that crap.
    div.promo-body
        a.btn.btn-primary(href="/contact")
            | Let's Get Creating
