
section.promo
    h3.promo-title
        | Commission
    p.promo-body
        | Request any custom piece you like. Shoes, shirts, hoodies, jackets.
    div.promo-body
        a.btn.btn-primary(href="/customs")
            | Start Project
