
section.promo
    h3.promo-title
        | Commission
    p.promo-body
        | Looking for something unique to you? Order your custom piece today.
    div.promo-body
        a.btn.btn-primary(href="/customs")
            | Learn More
