
section.promo
    h3.promo-title
        | Commission
    p.promo-body
        | I take your concepts, my ideas, sweat, blood, and a little magic, to create one-of-a-kind pieces specific to you.
    div.promo-body
        a.btn.btn-inverse(href="/customs")
            | Learn More
