
section.promo
    h3.promo-title
        | Stay Connect With Me
    div.promo-body
        ul.list-inline
            each link in navigations.social
                li
                    a.social(href=link.path, target="_blank")
                        span(role="presentation", class=link.classname + " fa-2x")
                        span.sr-only #{link.label}
