
include ../../mixins/card.pug

- var length = details.customs.length - 1;
- var limit = length - 3;

section
    h2.h3
        | Latest
    ul.list-unstyled.row
        while length > limit
            li.col-sm-4
                +card(details.customs[length])
            - length--;
