doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet", type="text/css", href="/dist/css/lib.css")
        link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Raleway:400,600")
        title
            | JULIANO STREETWEAR - #{page.title}
    body
        div#app
            include ../core/header
            include ../core/nav-mobile

            div#main(role="main")
                block content

            //- include ../core/footer

        script(type="text/javascript", src="/dist/js/lib.js")
