
.banner {
    background-color: $gray-1;
    overflow: hidden;
    padding-top: 52%;
    position: relative;
}

.banner-img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner-content {
    color: $font-color-inverse;
    left: $grid-gutter-width;
    right: $grid-gutter-width;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px #000;
    top: 50%;
    transform: translateY(-50%);
}

.banner-title,
.banner-subtitle {
    margin: 0 0 5px 0;
}

.banner-subtitle {
    font-size: $font-size-h1;
}

.banner-title {
    font-size: $font-size-jumbo;
}

.banner-body {
    font-size: $font-size-large;
}

.banner-title,
.banner-subtitle,
.banner.body {
    @include transition(font-size 0.5s);
}

.banner-body a {
    color: $font-color-inverse;

    &:hover,
    &:active,
    &:focus {
        color: $font-color-inverse;
    }
}

@media all and (max-width: $screen-sm-min) {

    .banner-title {
        font-size: $font-size-h1;
    }

    .banner-subtitle {
        font-size: $font-size-h2;
    }

    .banner-body {
        font-size: $font-size-h5;
    }
}

@media all and (max-width: $screen-xs-min) {

    .banner-title {
        font-size: $font-size-h1;
    }

    .banner-subtitle {
        font-size: $font-size-h3;
    }

    .banner-body {
        font-size: $font-size-h5;
    }
}
