
.banner {
    background-color: #252525;
    overflow: hidden;
    padding-top: 52%;
    position: relative;
}

.banner-img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner-content {
    color: #fff;
    left: 30px;
    position: absolute;
    text-shadow: 0 0 15px #000;
    top: 50%;
    transform: translateY(-50%);
}

.banner-title {
    font-size: 54px;
}

.banner-subtitle {
    font-size: 26px;
}

.banner-title,
.banner-subtitle {
    margin: 0 0 5px 0;
}

.banner-body {
    font-size: 18px;
    padding: 10px 0;
}

.banner-title,
.banner-subtitle,
.banner.body {
    @include transition(font-size 0.5s);
}

.banner-body a {
    color: #fff;

    &:hover,
    &:active,
    &:focus {
        color: #fff;
    }
}

@media all and (max-width: $screen-sm-min) {

    .banner-title {
        font-size: 34px;
    }

    .banner-subtitle {
        font-size: 18px;
    }

    .banner-body {
        font-size: 16px;
    }
}

@media all and (max-width: $screen-xs-min) {

    .banner-title {
        font-size: 24px;
    }

    .banner-subtitle {
        font-size: 18px;
    }

    .banner-body {
        font-size: 16px;
    }
}
