
.btn {
	text-transform: uppercase;
	font-size: $font-size-small;
	line-height: 2;
}

.btn-inverse {
	border: 1px solid $gray-3;
	background-color: $theme-inverse;
	color: $gray-5;

	&:hover,
	&:active,
	&:focus {
		color: $theme-primary;
	}
}

.btn-primary {

	&:hover,
	&:active,
	&:focus {
		background: $gray-1;
		color: $font-color-inverse;
	}
}
