
.card-figure {
    @include box-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));
    border: 2px solid $theme-inverse;
    overflow: hidden;
    position: relative;
    padding-top: 118%;

    .card-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .card-link {
        background: $theme-inverse;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0.4;
        width: 100%;
        @include transition(all 0.5s);

        &:hover,
        &:active,
        &:focus {
            opacity: 0;
        }
    }
}

.card-details {
    padding: $grid-gutter-width 0;

    .card-title {
        border-top: 1px solid $theme-inverse;
        font-size: $font-size-base;
        margin: 0 0 5px 0;
        padding-top: $grid-gutter-width / 2;
    }

    .card-desc {
        margin: 0 0 5px 0;
    }

    .card-link {
        display: inline-block;
        font-size: $font-size-small;
        margin: 0 0 5px 0;
    }
}
