
.card-figure {
    overflow: hidden;
    position: relative;
    /* image format should always be 4:6 */
    padding-top: 120%;
}

.card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.card-link {
    background: $brand-secondary;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0.4;
    width: 100%;
    transition: all 0.5s;

    &:hover,
    &:active,
    &:focus {
        opacity: 0;
    }
}

.card-title {
    border-top: 2px solid $brand-secondary;
    font-size: $font-size-h3;
    margin: 10px 0 5px;
    padding-top: 5px;
}

.card-desc {
    margin: 0 0 5px;
}

.card-details {
    display: inline-block;
    font-size: $font-size-small;
    margin: 0 0 5px;
}
