
.footnote {
    background: $brand-secondary;
    color: $brand-inverse;
    font-size: $font-size-small;
    padding: 10px $grid-gutter-width;
    text-align: center;
}

.footnote-nav {
    @extend .list-inline;
    margin: 0;
}

.footnote-nav a {
    color: $brand-inverse;

    &:hover,
    &:focus,
    &:active {
        color: $brand-primary;
    }
}
