
.footnote {
    background: $brand-secondary;
    color: #fff;
    font-size: 11px;
    padding: 10px $grid-gutter-width;
    text-align: center;
}

.footnote-nav {
    @extend .list-inline;
    margin: 0;
}
