
#footer {
    background: #111;
    bottom: 0;
    color: white;
    font-size: $font-size-h6;
    position: absolute;
    width: 100%;
}

#footer .promo-list {
    padding: $grid-gutter-width / 2 $grid-gutter-width;
}
