

.form-control {
    @include transition(all 0.5s);
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    border-width: 0 0 1px 0;
    color: #fff;
    margin: $grid-gutter-width 0;

    &:focus {
        background: rgba(0, 0, 0, 0.4);
        border-color: $brand-primary;
        box-shadow: none;
        outline: 0;
    }

    &::-webkit-input-placeholder {
        color: #ccc;
        font-style: italic;
    }

    &::-ms-input-placeholder {
        color: #ccc;
        font-style: italic;
    }

    &::-moz-placeholder {
        color: #ccc;
        font-style: italic;
    }
}

textarea.form-control {
    background-color: rgba(0, 0, 0, 0.4);
    resize: vertical;
}

select.form-control {
    border-radius: 0;
}
