

.form-control {
    @include transition(all 0.5s);
    background-color: transparent;
    border: 2px solid $gray-3;
    border-radius: 0;
    border-width: 0 0 2px 0;
    box-shadow: none;
    margin: $grid-gutter-width 0;

    &::-webkit-input-placeholder {
        color: $gray-4;
        font-style: italic;
    }

    &::-ms-input-placeholder {
        color: $gray-4;
        font-style: italic;
    }

    &::-moz-placeholder {
        color: $gray-4;
        font-style: italic;
    }

    &:focus {
        background: rgba(0, 0, 0, 0.4);
        border-color: $theme-primary;
        color: white;
        outline: 0;

        &::-webkit-input-placeholder {
            color: $gray-5;
        }

        &::-ms-input-placeholder {
            color: $gray-5;
        }

        &::-moz-placeholder {
            color: $gray-5;
        }
    }
}

textarea.form-control {
    background-color: rgba(0, 0, 0, 0.1);
    resize: vertical;
}

select.form-control {
    border-radius: 0;
}
