
//
// default navbar - light themed
// ------------------------------

#header {
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    background: $theme-bg;
    border-top: 3px solid $theme-inverse;
    border-bottom: 1px solid $gray-4;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header .title {
    float: left;
    margin: ($grid-gutter-width / 2) $grid-gutter-width;
    text-align: center;
}

#header .logo {
    background: $theme-inverse;
    width: 150px;
}

#nav-main,
#nav-social {
    @extend .list-inline;
    @include transition(all 0.5s);
    text-align: center;
}

#nav-main {
    float: left;
    margin: 0;
}

#nav-main li + li,
#nav-social li + li {
    margin-left: ($grid-gutter-width / 2);
}

#nav-main li a {
    color: $gray-1;
    display: block;
    font-size: $font-size-small;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: $grid-gutter-width 0;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
        color: $theme-primary;
    }
}

#nav-social {
    position: absolute;
    right: $grid-gutter-width;
    top: 28px;
}

#nav-social li a {
    color: $gray-1;
}

#nav-social li a .fa {
    font-size: $font-size-h3;
}

#btn-nav-mobile {
    color: $gray-2;
    opacity: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    right: -200px;
    top: 22px;
}

@media all and (max-width: $screen-xs-max) {

    #header .title {
        float: none;
    }

    #nav-main {
        display: none;
    }

    #nav-social {
        right: -200px;
        opacity: 0;
    }

    #btn-nav-mobile {
        right: $grid-gutter-width;
        opacity: 1;
    }
}
