
#header {
    background: $brand-secondary;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header .title {
    float: left;
    margin: ($grid-gutter-width / 2) $grid-gutter-width;
    text-align: center;
}

#header .logo {
    width: 150px;
}

#nav-main,
#nav-social {
    @extend .list-inline;
    @include transition(all 0.5s);
    text-align: center;
}

#nav-main {
    float: left;
    margin: 0;
}

#nav-main li + li,
#nav-social li + li {
    margin-left: ($grid-gutter-width / 2);
}

#nav-main li a {
    color: #fff;
    display: block;
    padding: 28px 0;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
        color: $brand-primary;
    }
}

#nav-social {
    position: absolute;
    right: $grid-gutter-width;
    top: 28px;
}

#nav-social li a {
    color: #fff;

    &:hover,
    &:active,
    &:focus {
        color: #999;
    }

    .fa {
        font-size: $font-size-h3;
    }
}

#btn-nav-mobile {
    color: #fff;
    position: absolute;
    top: 20px;
    right: -200px;
    opacity: 0;
    outline: 0;
    transition: all 0.5s;
}

@media all and (max-width: $screen-xs-max) {

    #header .title {
        float: none;
    }

    #nav-main {
        display: none;
    }

    #nav-social {
        right: -200px;
        opacity: 0;
    }

    #btn-nav-mobile {
        right: $grid-gutter-width;
        opacity: 1;
    }
}
