
.list-nav {
    @extend .list-unstyled;
    margin: 0;
}

.list-steps {
    @extend .list-unstyled;
    @extend .clearfix;
    margin: 0;
}

.list-steps > .step {
    counter-increment: step-counter;
    float: left;
    min-height: 300px;
    position: relative;
    width: 50%;

    &:nth-child(odd) {
        padding-right: $grid-gutter-width;

        &:before {
            right: $grid-gutter-width;
        }
    }

    &:nth-child(even) {
        padding-left: $grid-gutter-width;
    }

    &:before {
        background: $theme-bg;
        border: 2px solid $gray-1;
        border-radius: 80%;
        color: $gray-1;
        content: '0' counter(step-counter);
        font-size: $font-size-large;
        font-weight: 400;
        height: 40px;
        padding: 6px 0 0 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 16px;
        width: 40px;

        @media all and (max-width: $screen-xs) {
            top: 15px;
            right: 0 !important;
        }
    }

    @media all and (max-width: $screen-xs) {
        float: none;
        min-height: 0;
        margin-bottom: $grid-gutter-width;
        padding: 0 !important;
        width: 100%;
    }
}

.list-steps .step-heading {
    border-bottom: 2px solid $gray-1;
    padding: 10px 0;
}

.list-steps .step-title {
    font-size: $font-size-base;
    margin: 0;
}

.list-steps .step-body {
    padding: 20px 0 0;
    font-weight: 300;
    line-height: 1.6;
}
