
.mk-sm-root {
    margin: $grid-gutter-width 0;
}

.mk-sm-root,
.mk-sm-shadow {
    display: block;
}

.mk-sm-input {
    width: 100%;
}

.mk-sm-trigger {
    @include transition(all 0.5s);
    border-color: $gray-3;
    border-width: 0 0 2px 0;

    &.focus {
        background: rgba(0, 0, 0, 0.4);
        color: $gray-base;
    }
}
