
#nav-mobile {
    @include transition(opacity 0.5s, left 0.5s);
    background: $gray-5;
    bottom: 0;
    color: $gray-2;
    left: 0;
    opacity: 1;
    overflow: auto;
    margin: 0;
    padding: ($grid-gutter-width / 2) $grid-gutter-width;
    position: fixed;
    top: 75px;
    width: 100%;
    z-index: 2;

    &[aria-hidden="true"] {
        left: 100%;
        opacity: 0;
    }

    @media all and (min-width: $screen-xs-max) {
        display: none;
    }
}

#nav-mobile .social {
    color: $gray-1;
}

#nav-mobile-nav {
    @extend .list-unstyled;

    li {
        border-bottom: 1px solid $gray-3;
    }

    li a {
        color: $gray-2;
        display: block;
        font-size: $font-size-h5;
        font-weight: 600;
        letter-spacing: 0.6px;
        padding: ($grid-gutter-width / 2) 0;
        text-align: center;
        text-transform: uppercase;

        &:hover,
        &:active,
        &:focus {
            color: $theme-primary;
        }
    }

    li:first-child a {
        padding-top: 0;
    }
}

#nav-mobile-promos {
    background: $gray-4;
    color: $gray-base;
    margin-top: $grid-gutter-width / 2;
    padding: $grid-gutter-width / 2;

    .col {
        float: left;
        margin-bottom: 15px;
        padding: 0 15px;
        width: 50%;
    }

    .col:first-child {
        padding-left: 0;
    }

    .col:last-child {
        padding-right: 0;
    }
}

@media all and (max-width: $screen-xs-min) {
    #nav-mobile-promos .col {
        float: none;
        text-align: center;
        padding: 0;
        width: 100%;
    }
}
