
#nav-mobile {
    @include transition(opacity 0.3s);
    background: #dfdfdf;
    bottom: 0;
    color: $gray-2;
    left: 0;
    opacity: 1;
    overflow: auto;
    margin: 0;
    padding: ($grid-gutter-width / 2) $grid-gutter-width;
    position: fixed;
    top: 75px;
    width: 100%;
    z-index: 2;

    &[aria-hidden="true"] {
        left: 100%;
        opacity: 0;
    }
}

#nav-mobile-nav {
    @extend .list-unstyled;

    li {
        border-bottom: 1px solid $gray;
    }

    li a {
        color: $gray-2;
        display: block;
        font-size: $font-size-h5;
        font-weight: 600;
        letter-spacing: 0.6px;
        padding: $grid-gutter-width / 2 0;
        text-transform: uppercase;

        &:hover,
        &:active,
        &:focus {
            color: $brand-primary;
        }
    }

    li:first-child a {
        padding-top: 0;
    }
}

#nav-mobile-promos {
    background: #c2c2c2;
    margin-top: $grid-gutter-width / 2;
    padding: $grid-gutter-width / 2;

    .promo {
        float: left;
        width: 50%;
    }

    .promo:first-child {
        padding-right: $grid-gutter-width / 2;
    }

    .promo:last-child {
        float: none;
        width: 100%;
    }

    .promo:last-child:before {
        clear: both;
        content: "";
        display: table;
    }
}

@media all and (min-width: $screen-xs-max) {
    #nav-mobile {
        display: none;
    }
}

@media all and (max-width: $screen-xs-min) {

    #nav-mobile-nav li a {
        text-align: center;
    }

    #nav-mobile-promos .promo {
        float: none;
        text-align: center;
        width: 100%;

        &:first-child {
            padding-right: 0;
        }
    }
}
