
#nav-mobile {
    @include transition(opacity 0.3s);
    background: #080b0e;
    bottom: 0;
    color: $brand-inverse;
    left: 0;
    opacity: 1;
    overflow: auto;
    margin: 0;
    padding: ($grid-gutter-width / 2) $grid-gutter-width;
    position: fixed;
    top: 75px;
    width: 100%;
    z-index: 2;

    &[aria-hidden="true"] {
        left: 100%;
        opacity: 0;
    }
}

#nav-mobile-nav {
    @extend .list-unstyled;

    li {
        border-bottom: 1px solid #333;
    }

    li a {
        color: #fff;
        display: block;
        font-size: $font-size-h5;
        padding: $grid-gutter-width / 2 0;
        text-transform: uppercase;

        &:hover,
        &:active,
        &:focus {
            color: $brand-primary;
        }
    }
}

#nav-mobile-close {
    font-size: 30px;
    height: 75px;
    background-color: $brand-secondary;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 75px;

    .fa-close {
        color: #fff;
        left: 12px;
        margin-top: -16px;
        position: absolute;
        top: 50%;
    }
}

#nav-mobile .rowflex {
    border-collapse: collapse;
    display: table;
    width: 100%;

    .col {
        display: table-cell;
        width: 50%;
    }

    .col:first-child {
        padding-right: $grid-gutter-width / 2;
    }
}

#nav-mobile .footnote {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

@media all and (min-width: $screen-xs-max) {
    #nav-mobile {
        display: none;
    }
}

@media all and (max-width: $screen-xs-min) {

    #nav-mobile .rowflex .col,
    #nav-mobile .promo {
        display: block;
        margin-bottom: $grid-gutter-width / 2;
        width: auto;
    }
}
