
.panel {
    padding: $grid-gutter-width;
}

.panel-title {
    background: #1c1b1a;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 15px 30px;
    position: relative;
    left: -30px;
}

.panel-body {
    padding: 15px 0;
}
