//---------------------
// Panels
//---------------------

.panel {
    padding: $grid-gutter-width;
}

.panel-title {
    background: $gray-1;
    color: $gray-5;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    margin: 0;
    padding: 10px $grid-gutter-width;
    position: relative;
    left: ($grid-gutter-width * -1);
}

.panel-body {
    padding: $grid-gutter-width 0 0;
}

//----------------------
// Panel BG
//----------------------

.panel-bg {
    background-color: $gray-1;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom left;
    color: $font-color-inverse;

    &.panel-customs {
        background-image: url('/dist/img/bg/customs-form.jpg');
    }

    @media all and (orientation: portrait) {
        background-size: auto 100%;
    }
}
