//---------------------
// Panels
//---------------------

.panel {
    padding: $grid-gutter-width;
}

.panel-title {
    background: #1c1b1a;
    color: #fff;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    margin: 0;
    padding: 10px 30px;
    position: relative;
    left: -30px;
}

.panel-body {
    padding: $grid-gutter-width 0 0;
}

//----------------------
// Panel BG
//----------------------

.panel-bg {
    background-color: #333;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom left;
    color: #fff;

    &.panel-customs {
        background-image: url('/dist/img/bg/customs-form.jpg');
    }

    @media all and (orientation: portrait) {
        background-size: auto 100%;
    }
}
