
a.social {
    color: $gray-2;

    .fa {
        @include transition(color 0.5s);
    }

    &:hover,
    &:focus,
    &:active {

        .fa-facebook {
            color: #3B5998;
        }
        .fa-twitter {
            color: #55ACEE;
        }
        .fa-instagram {
            color: #E12F67;
        }
    }
}
