
a.social {
    color: $gray-1;

    .fa {
        @include transition(color 0.5s);
    }

    &:hover,
    &:focus,
    &:active {

        .fa-facebook {
            color: $theme-fb;
        }
        .fa-twitter {
            color: $theme-tw;
        }
        .fa-instagram {
            color: $theme-ig;
        }
    }
}
