
html,
body {
    background-color: $theme-light-bg;
    font-weight: 300;
    height: 100%;
    margin: 0;
    padding: 0;
}

body.noflow {
    overflow: hidden;
}

#app {
    min-height: 100vh;
    padding-top: 75px;
    position: relative;
}
