
$fa-font-path: "../fonts";

$theme-light-bg: #fdfdfd;

$brand-primary: #ac0000;
$brand-secondary: #004a4a;

$gray-base:     #080808;
$gray-darker:   #252525;
$gray-dark:     #565656;
$gray:          #878787;
$gray-light:    #a5a5a5;
$gray-lighter:  #d6d6d6;

$gray-1: #080808;
$gray-2: #252525;

$font-family-sans-serif: 'Raleway', 'Helvetica Neue', Helvetica, Arial;

$font-size-base:  16px;
$font-size-large: 18px;
$font-size-small: 14px;

$font-size-h1: 26px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-h4: 18px;
$font-size-h5: 15px;
$font-size-h6: 14px;

$border-radius-base: 0;

$btn-primary-color:  $gray-2;
$btn-primary-bg:     transparent;
$btn-primary-border: $gray-2;
